parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
            - tests/bootstrap.php

    # Performance
    tmpDir: var/cache/phpstan
    parallel:
        maximumNumberOfProcesses: 4

    # Inférence de types
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false

    # Détection des erreurs cachées
    checkUninitializedProperties: true
    checkDynamicProperties: true
    checkImplicitMixed: true

    ignoreErrors:
        -
            identifier: missingType.generics
            reportUnmatched: false
