parameters:
    level: 9
    paths:
        - src
        - tests
    parallel:
        maximumNumberOfProcesses: 4
    ignoreErrors:
        -
            identifier: missingType.generics
            reportUnmatched: false
