services:
  ###> doctrine/doctrine-bundle ###
  database:
    image: mysql:${MYSQL_VERSION:-8}-oracle
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE:-app}
      # You should definitely change the password in production
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-!ChangeMe!}
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - ./docker/db/data:/var/lib/mysql:rw
###< doctrine/doctrine-bundle ###

  redis:
    image: redis:7
    healthcheck:
      test: ["CMD", "redis-cli" ,"ping"]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - ./docker/redis/data:/data
