includes:
  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-doctrine/rules.neon
  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon
  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    symfony:
        container_xml_path: /project/var/cache/dev/App_KernelDevDebugContainer.xml
        console_application_loader: phpstan/console.php
    doctrine:
        objectManagerLoader: phpstan/doctrine.php
        allCollectionsSelectable: false
    level: 8
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    paths:
        - /project/src
    parallel:
        maximumNumberOfProcesses: 4
    excludePaths:
        - src/Factory
    ignoreErrors:
        -
            message: "#Call to an undefined method [a-zA-Z0-9\\_]+|Zenstruck\\\\Foundry\\\\Proxy\\:\\:object\\(\\)\\.$#"
            reportUnmatched: false
        -
            message: "#^Property App\\\\Entity\\\\[a-zA-Z0-9\\_]+\\:\\:\\$[a-zA-Z0-9\\_]+ type mapping mismatch\\: property can contain Doctrine\\\\Common\\\\Collections\\\\Collection but database expects Doctrine\\\\Common\\\\Collections\\\\Collection&iterable\\<App\\\\Entity\\\\[a-zA-Z0-9\\_]+\\>\\.$#"
            reportUnmatched: false
        -
            message: "#^Property App\\\\Entity\\\\[a-zA-Z0-9\\_]+\\:\\:\\$[a-zA-Z0-9\\_]+ type mapping mismatch\\: property can contain App\\\\Entity\\\\[a-zA-Z0-9\\_]+\\|null but database expects App\\\\Entity\\\\[a-zA-Z0-9\\_]+\\.$#"
            reportUnmatched: false
