includes:
  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-doctrine/rules.neon
  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon
  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    symfony:
        container_xml_path: /project/var/cache/dev/App_KernelDevDebugContainer.xml
        console_application_loader: phpstan/console.php
    doctrine:
        objectManagerLoader: phpstan/doctrine.php
    level: 9
    checkGenericClassInNonGenericObjectType: false
    paths:
        - /project/src
        - /project/tests
    parallel:
        maximumNumberOfProcesses: 4
    ignoreErrors:
        -
            message: "#Call to an undefined method [a-zA-Z0-9\\_]+|Zenstruck\\\\Foundry\\\\Proxy\\:\\:object\\(\\)\\.$#"
            reportUnmatched: false